extends layout

block content
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            br
            ul.nav.flex-column
              li.nav-item
                a.nav-link(href='http://localhost:4020/2/band') A Banda
              li.nav-item
                a.nav-link(href='http://localhost:4020/2/calendar') Calendário
              li.nav-item
                a.nav-link(href='http://localhost:4020/2/news') Notícias
              li.nav-item
                a.nav-link(href='http://localhost:4020/2/repertoire') Repertório
            br
            h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                span Opções
            ul.nav.flex-column.mb-2
                li.nav-item
                    a.nav-link(href='http://localhost:4020/2/news/add')
                        span(data-feather='plus')
                        |                   Adicionar Noticia
                li.nav-item
                    a.nav-link(href='http://localhost:4020/2/news/remove')
                        span(data-feather='trash-2')
                        |                   Remover Noticia
    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main') 
      br
      each noticia in news
        h3= noticia.titulo
        br
        p= noticia.corpo
        br
        div
          h6 
            b Autor:
            span  #{noticia.meta.autor}
          h6
            b Data:
            span #{noticia.meta.data}
        hr
      script.
        feather.replace()


      
