extends layout

block content
    br
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            br
            ul.nav.flex-column
              li.nav-item
                a.nav-link(href='http://localhost:4020/2/band') A Banda
              li.nav-item
                a.nav-link(href='http://localhost:4020/2/calendar') Calendário
              li.nav-item
                a.nav-link(href='http://localhost:4020/2/news') Noticias
              li.nav-item
                a.nav-link(href='http://localhost:4020/2/repertoire') Repertório
    include ../changeEmail.pug 