main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
    br
    h3 Banda Filarmónica
    hr
    .container
        .row
            .div
                p A Banda Musical de Vila Verde foi fundada em 31 de Outubro de 1936, por uma comissão, composta pelos senhores Aníbal Feio Soares de Azevedo, António Augusto dos Santos, Manuel de Oliveira e Abílio Silva, com a denominação de Banda dos Bombeiros Voluntários, sob a regência do Sr. Abílio Silva. Em 1939, a Banda adquiriu uma nova dinâmica pela mão do Sr. Dr. António Ribeiro Guimarães, que passou a pertencer à direcção. A Banda passou a denominar-se Banda Municipal de Vila Verde. Em 1955 a regência da Banda passou a ser feita pelo Maestro Ferreira Pais e em 1969, a actividade da Banda é suspensa por motivos de saúde do Sr. Dr. António Ribeiro Guimarães. Em 1972, António Fernandes Soares Marinho, José Soares da Silva Lago, Manuel Augusto e António Fernandes do Lago, criaram os estatutos legais e a associação passou a ser denominada Banda Marcial de Vila Verde, mas, em 1974, é suspensa por motivos de saúde do seu Maestro. Em 1981, retoma a sua actividade com a denominação de Sociedade de Educação e Recreio Banda Musical de Vila Verde, tendo como Maestro o professor, Alexandre Fonseca, sendo este substituído pelo seu irmão Sr. Agostinho Fonseca em 1985. Em 1991, assumiu o cargo de Maestro, o Professor, Filipe Lopes da Silva e em 1996 volta a reger a banda o Sr. Agostinho Fonseca até 2002. A partir de 2002 assumiu a responsabilidade artística desta banda, o Maestro António Ferreira da Silva. Em 2010 a Banda Musical de Vila Verde grava o seu primeiro trabalho discográfico “Primum”. Em Janeiro do ano corrente de 2012, a convite de Sua Excelência, Presidente da República, Professor Aníbal Cavaco Silva, a Banda Musical de Vila Verde, desloca-se ao Palácio de Belém para tocar e cantar as Janeiras.
                p Actualmente a Banda é composta por cerca de 60 músicos: mais de metade deles tiveram/têm formação musical e de instrumento na própria Banda, uma outra parte frequenta academias e escolas profissionais de música e existe ainda o grupo de músicos com formação superior.
                p Sob direção do Maestro e Professor Óscar Gonçalves, a Banda dispõe de um vasto, renovado e variado repertório, especialmente vocacionado para animar festas e romarias, e dispõe igualmente de um coral de música sacra que apoia o culto religioso. 
            .col-lg-4.col-md-4.col-sm-4.col-xs-12
                .box-part.text-center(style="border: 1px solid black;")
                    i.fa.fa-3x(aria-hidden='true')
                    br
                    .title
                        h4 
                            b Contactos:
                    .text
                        span
                            b Número de Telemóvel: 
                            |  932174621
                    .text
                        span
                            b Número de Telefone:
                            |  253918345
                    .text
                        span
                            b Email: 
                            | filarmonica@email.pt