extends layout

block content
    nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
      a.navbar-brand.col-sm-3.col-md-2.mr-0(href='http://localhost:4020/') Banda Filarmónica (iBanda)
      
      a.btn.btn-outline-light.btn-sm(href='http://localhost:4020/users/login' role="button" aria-pressed="true") Login
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            ul.nav.flex-column
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/band') A Banda
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/calendar') Calendário
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/news') Noticias
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/repertoire') Repertório