extends layout

block content
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            br
            ul.nav.flex-column
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/band') The Band 
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/calendar') Calendar
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/news') News
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/repertoire') Reportoire
            br
    include ../band.pug