extends layout

block content
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            br
            ul.nav.flex-column
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/band') A Banda 
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/calendar') Calendário
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/news') Notícias
              li.nav-item
                a.nav-link(href='http://localhost:4020/3/repertoire') Repertório
            br
    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main') 
      br
      each noticia in news
        h3= noticia.titulo
        br
        p= noticia.corpo
        br
        div
          h6 
            b Autor:
            span  #{noticia.meta.autor}
          h6
            b Data:
            span #{noticia.meta.data}
        hr